*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
p,
dl,
dd {
  margin-top: 0;
}
